html{
	font-family: cursive;
	color: rgb(40, 62, 187);
	background: rgba(142, 167, 188, 0.7);
}

.i li{
	font-size: 20px;
    display: inline-block;
    width: 20%;
    text-align: center;
}

.i li a {
	text-decoration: none;
	color: rgb(18, 18, 18);
	border: 1px solid blue;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	transition: background-color 1s, color 1s;
}

.i li a:hover{
	background-color: #090D66;
	color:white;
}

